In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from statsmodels.formula.api import logit
import statsmodels.api as sm
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import KFold, cross_val_score
from scipy import stats
import statsmodels.formula.api as smf
import scipy
from scipy.cluster.hierarchy import dendrogram, linkage

In [18]:
first_csv = pd.read_csv("test.csv")
second_csv = pd.read_csv("train.csv")

In [19]:
satisfaction = pd.concat([first_csv, second_csv])

In [10]:
satisfaction.to_csv('flight_satisfaction.csv')

In [11]:
satisfaction

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,103899,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,...,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103900,103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,...,5,5,5,5,5,5,4,0,0.0,satisfied
103901,103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,...,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103902,103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,...,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103903,103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,...,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied

In [32]:
predictors = satisfaction.iloc[:, 1:8]
predictors.reset_index()

,index,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182
...,...,...,...,...,...,...,...,...
129875,103899,94171,Female,disloyal Customer,23,Business travel,Eco,192
129876,103900,73097,Male,Loyal Customer,49,Business travel,Business,2347
129877,103901,68825,Male,disloyal Customer,30,Business travel,Business,1995
129878,103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000
129879,103903,62567,Male,Loyal Customer,27,Business travel,Business,1723

In [25]:
total_df = satisfaction[predictors.columns.to_list() + ['satisfaction']]
total_df

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,satisfaction
0,19556,Female,Loyal Customer,52,Business travel,Eco,160,satisfied
1,90035,Female,Loyal Customer,36,Business travel,Business,2863,satisfied
2,12360,Male,disloyal Customer,20,Business travel,Eco,192,neutral or dissatisfied
3,77959,Male,Loyal Customer,44,Business travel,Business,3377,satisfied
4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,satisfied
...,...,...,...,...,...,...,...,...
103899,94171,Female,disloyal Customer,23,Business travel,Eco,192,neutral or dissatisfied
103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,satisfied
103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,neutral or dissatisfied
103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000,neutral or dissatisfied
103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,neutral or dissatisfied

In [ ]:
logistic_regression = logit('mature~Malat1', data=df).fit()
print(logistic_regression_malat.summary())